* {
  font-family: 'Permanent Marker', cursive;
  background-color: #C8FFFC;
  text-align: center;
}

h1 {
  background: radial-gradient(circle, #FFFFFF,#C8FFFC);
  font-size: 3.3rem;
  padding: 2rem;
  margin: 10px auto;
  width: 40%;
  border-radius: 50%
}

h2 {
  color: #c8fffc,
}
.sentence {
  font-size: 2.2rem;
}

.currentCharacter {
  color: #148A4A;
  border-right: solid #148A4A;
  border-width: 2px;
}

.failure {
  color: red;
  border-right: solid red;
  border-width: 2px;
}

.score {
  background: radial-gradient(circle, #FFFFFF, #C8FFFC);
  margin: 10px auto;
  width: 70%;
  padding: 2.5rem;
  border-radius: 50%
}
